.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    overflow: hidden;
}
.slider-item{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-color: #263c97;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}
.slider-contols{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    height: 30px;
    background-color:transparent;
    color: white;
}
.slider-item.active{
    opacity: 1;
}
.slider-indicator-item{
    font-size: 1px;
    background-color:#fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    margin: 0px 10px;
    border: none;
}
.slider-indicator-item.active{
    background-color:#ffffff30;
    color:#263c97;
}
.itemSlider{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
} 
.family{
    display: flex;
    flex-direction: column;
}
.itemSlider .tophead{
    background-color: #fcbe00;
    border-radius:  2px 2px;
    color: #222;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 5px;
    padding: 6px 13px ;
    text-transform: uppercase;
    vertical-align: top;
    border: 0;
    width: 50%;
}
.itemSlider h3{
    color: #fff;
     font-size: 25px;
     font-style: italic;
}
.itemSlider h2{
    color: #fff;
    font-size: 25px;
    font-style: italic;
}
.itemSlider h5{
    color: #fff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 5px 0px;
}
.itemSlider .discoverBtn{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius:  3px 3px;
    color: #222;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0px 0px 0px;
    padding: 14px 52px;
}
.itemSlider .second{
    color: #fff;
    font-size: 25px;
    font-style: italic;
}
.btn_2{
    width: 70%;
    margin: 25px 0px;
}
.head_2{
    width: 40%;
    background-color: #fcbe00;
    border-radius:  2px 2px;
    color: #222;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 5px;
    padding: 6px 13px ;
    text-transform: uppercase;
    vertical-align: top;
    border: 0;
}
.h5_2{
    width: 70%;
    align-items: flex-start;
    justify-content: flex-start;
}
@media(max-width:1090px){
.slider{
    height: 600px;
}
}
@media(max-width:750px){
    .slider-item{
        height: 60vh;
    }   
    .slider-contols{
        bottom: 0px;
    }
}
@media (max-width:600px) {
    .slider-contols{
        bottom: 200px;
    }
}
@media(max-width:450px){

    .slider{
        height: 500px;
    }
      .slider-item{
        height: 35vh;
      }
    .slider-contols{
        font-size: 1px;
        width: 100%;
        bottom: 110px;
    }
    .itemSlider{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .itemSlider .second{
        font-size: 20px;
    }
    .itemSlider img{
        width: 145px;
        object-fit: contain;
    }
    .itemSlider .discoverBtn{
        font-size: 10px;
        padding: 5px;
    }
    .spacing{
        gap: 20px;
    }
}
@media (max-width:420px) {
    .slider-contols{
        bottom: 180px;
    }   
}
@media(max-width:394px){
    .slider-contols{
        bottom: 200px;
    }
}
@media(max-width:390px){
    .slider-contols{
        bottom: 200px;
    }
}
@media(max-width:380px){
    .slider-contols{
        bottom: 260px;
    }
}
@media(max-width:370px){
    .slider-contols{
        bottom: 235px;
    }
    .family .tophead{
        width: 80%;
    }
    .family h3 {
        font-size: 15px;
    }
   .family h2{
        font-size: 15px;
    }
  .itemSlider  .sec{
        font-size: 15px;
    }
    .h5_2{
        font-size: 10px;
    }
    .head_2{
        width: 80%;
    }
}